.user-message {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #6c757d; /* Lighter shade */
    border-radius: 15px;
    padding: 10px;
    max-width: 70%;
    margin-bottom: 10px;
  }
  
  .bot-message {
    text-align: left;
    display: flex;
    align-items: center;
    background-color: #343a40; /* Dark background */
    border-radius: 15px;
    padding: 10px;
    max-width: 70%;
    margin-bottom: 10px;
  }
  
  .message-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  
  .message-text {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #ffffff; /* White text */
  }
  
  .user-message .message-avatar {
    margin-left: 10px;
  }
  
  .bot-message .message-avatar {
    margin-right: 10px;
  }
  