.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-upload {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 10px;
}

.file-input {
    display: none;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid black;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#status-container {
    margin-top: 20px;
    text-align: left;
}

.status-item {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    box-sizing: border-box;
}

.success-icon {
    margin-left: 10px;
}
